@charset "UTF-8";


html *{
	box-sixing:border box;
}

table{
	margin:0 auto;
	width:1000px;
	height:130px;
}
#atList{
	width:500px
}
.atDeco{
	text-decoration:none;
}
.info{
	border-collapse:collapse;
}
.info th{
	border:2px solid ;
	text-align:center;
}
#submitCenter{
	text-align:center;
	margin:0 auto;
}
#atListGo{
	margin-top:60px;
	width:150px;
	height:40px;
}
#atSearchGo{
	margin-top:40px;
	width:150px;
	height:40px;
}