<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<link th:href="@{/css/style.css}" rel="stylesheet">
	<meta charset="UTF-8">
	<title>管理者追加ページ</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<form action="/aAdd" method="post">
		<p>商品名</p>
		<input type="text" name="product_name">
		<p>カテゴリー</p>
		<select >
			<option value="コピー用紙"></option>
			<option value="OA・PC消耗品"></option>
			<option value="ファイル"></option>
			<option value="文具・事務用品"></option>
			<option value="梱包・工具・作業用品"></option>
			<option value="食品・飲料"></option>
			<option value="事務機器"></option>
			<option value="パソコン・パソコン周辺機器"></option>
		</select>
		<p>価格</p>
		<input type="text" name="price">
		<p>サイズ</p>
		<input type="text" name="size">
		<p>メーカー</p>
		<input type="text" name="manufacture">
		<p>色</p>
		<input type="text" name="color">
		<p>画像</p>
		<input type="file" name="">
		<p>在庫</p>
		<input type="text" name="stock">
		<p>商品詳細</p>
		<textarea></textarea>
		
		<p><input type="submit" value="追加"></p>
	</form>

</body>
</html>