<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<link th:href="@{/css/style.css}" rel="stylesheet">
	<meta charset="UTF-8">
	<title>管理者トップページ</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table class="info">
		<tr>
			<th id="atList"><a href="AdminList.html" class="atDeco">商品一覧</a></th>
			<th id="atSearch"><a href="AdminSearch.html" class="atDeco">検索</a></th>
		</tr>
	</table>
	
	<div id="submitCenter">
		<form action="/aList" method="get">
			<input type="submit" value="商品一覧" id="atListGo">
		</form>
	
		<form action="/aSearch" method="get">
			<input type="submit" value="検索" id="atSearchGo">
		</form>
	</div>
	
</body>
</html>